<div class="header-wrapper">
  <div class="header-title">
    <h4>Ecommerce</h4>
  </div>
  <div class="link-wrapper">
    <div class="header-left__links">
      <ul class="links-list">
        <li routerLink="/">Home</li>
        <li class="position-relative">
          <p>
            Category
            <span
              ><fa-icon [icon]="caretIcon" class="caret-icon"></fa-icon
            ></span>
          </p>
          <div class="dropdown-wrapper">
            <div class="dropdown-arrow"></div>
            <ul class="dropdown-ul">
              <li class="dropdown-item">
                <span><fa-icon [icon]="nextIcon"></fa-icon></span>
                <a routerLink="/products/sofa">Sofa</a>
              </li>
              <li class="dropdown-item">
                <span><fa-icon [icon]="nextIcon"></fa-icon></span>
                <a routerLink="/products/chair">Chair</a>
              </li>
              <li class="dropdown-item">
                <span><fa-icon [icon]="nextIcon"></fa-icon></span>
                <a routerLink="/products/bed">Bed</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="header-right__links">
      <ul class="links-list">
        <li class="relative-link">
          <div class="search-product__form">
            <label>
              <input
                type="text"
                class="header-search__field"
                placeholder="Search"
                (input)="onSearch($event)"
                #searchInput
              />
            </label>
            <button
              (click)="onClick(searchInput.value)"
              type="button"
              #searchBtn
              class="search-submit__btn"
            >
              <svg
                width="20"
                height="20"
                viewBox="0 0 17 18"
                class=""
                xmlns="http://www.w3.org/2000/svg"
              >
                <g fill="#2874F1" fill-rule="evenodd">
                  <path
                    class="_2BhAHa"
                    d="m11.618 9.897l4.225 4.212c.092.092.101.232.02.313l-1.465 1.46c-.081.081-.221.072-.314-.02l-4.216-4.203"
                  ></path>
                  <path
                    class="_2BhAHa"
                    d="m6.486 10.901c-2.42 0-4.381-1.956-4.381-4.368 0-2.413 1.961-4.369 4.381-4.369 2.42 0 4.381 1.956 4.381 4.369 0 2.413-1.961 4.368-4.381 4.368m0-10.835c-3.582 0-6.486 2.895-6.486 6.467 0 3.572 2.904 6.467 6.486 6.467 3.582 0 6.486-2.895 6.486-6.467 0-3.572-2.904-6.467-6.486-6.467"
                  ></path>
                </g>
              </svg>
            </button>
          </div>
          <div class="search-results" *ngIf="products.length > 0">
            <div
              *ngFor="let product of products"
              class="each-result"
              (click)="onSelectProduct(product._id, product.category)"
              role="button"
              #result
            >
              <p class="result-text">{{ product.name }}</p>
            </div>
          </div>
        </li>
        <li routerLink="/cart"><fa-icon [icon]="cartIcon"></fa-icon></li>
        <li
          class="special-link"
          routerLink="/login"
          *ngIf="userLogIn === false"
        >
          Sign In
        </li>
        <li class="special-link another-relative" *ngIf="userLogIn === true">
          <p>
            Account
            <span
              ><fa-icon [icon]="caretIcon" class="caret-icon"></fa-icon
            ></span>
          </p>
          <div class="account-dropdown">
            <div class="dropdown-arrow more-right"></div>
            <ul class="account-dropdown-ul">
              <li class="account-dropdown-item">
                <a>Your Products</a
                ><span><fa-icon [icon]="prevIcon"></fa-icon></span>
              </li>
              <li class="account-dropdown-item">
                <a>Wishlist Items</a
                ><span><fa-icon [icon]="prevIcon"></fa-icon></span>
              </li>
              <li class="account-dropdown-item">
                <a>Your Orders</a
                ><span><fa-icon [icon]="prevIcon"></fa-icon></span>
              </li>
              <li class="account-dropdown-item">
                <a (click)="onLogout()">Log Out</a
                ><span><fa-icon [icon]="prevIcon"></fa-icon></span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
