.header-wrapper {
  display: flex;
  background-color: #3a2778;
  align-items: center;
  justify-content: space-between;
}
.link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 120px);
}
.header-title {
  margin-left: 10px;
}
.header-title h4 {
  margin: 0;
  color: white;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  padding: 10px 0;
}
.links-list {
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
  margin: 0;
  padding: 0;
}
.links-list li {
  cursor: pointer;
  margin: 0 0 0 16px;
}
.links-list li:focus {
  outline: none;
}
.caret-icon {
  font-size: 14px;
}
.position-relative {
  position: relative;
}
.show-dropdown {
  visibility: visible !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
}
.dropdown-wrapper {
  position: absolute;
  top: 50px;
  left: -10px;
  z-index: 1;
  background-color: white;
  padding: 12px;
  width: 150px;
  visibility: hidden;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
  transform: translateY(20px);
  opacity: 0;
  transition: all 250ms ease-in;
}
.dropdown-arrow {
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: white;
  transform: rotateZ(45deg) translateY(-8px);
  top: 0;
  left: 35px;
}
.dropdown-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #555;
  background-color: white;
  position: relative;
  z-index: 2;
}
.dropdown-item {
  padding: 4px 8px !important;
  font-size: 14px;
  margin: 0 !important;
  cursor: pointer;
  border: 1px solid transparent;
  color: #555;
}
.dropdown-item a {
  text-decoration: none;
  color: inherit;
  padding-left: 6px;
}
.dropdown-item a:focus {
  outline: none;
}
.dropdown-item:hover {
  background-color: #f1eded;
  color: black;
}
.header-search__field {
  width: 300px;
  height: 30px;
  padding: 10px 8px;
  font: inherit;
  font-size: 14px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid white;
  box-shadow: 0 0 6px 1px rgba(138, 151, 243, 0.5) inset;
}
.header-search__field:focus {
  outline: none;
}
.special-link {
  margin-right: 10px !important;
}
.relative-link {
  position: relative;
}
.search-product__form {
  display: flex;
  align-items: center;
}
.search-results {
  background-color: white;
  position: absolute;
  top: 40px;
  width: 300px;
  z-index: 1;
  box-shadow: 0 0 4px 1px rgba(20, 30, 40, 0.5);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.search-submit__btn {
  padding: 5px;
  background-color: white;
  height: 30px;
  border: 1px solid white;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}
.search-submit__btn:focus {
  outline: none;
}
.each-result {
  width: 100%;
}
.each-result:hover {
  background-color: #dedede;
}
.each-result-focused {
  background-color: #dedede;
}
.result-text {
  color: #555;
  margin: 0;
  padding: 10px;
  font-size: 14px;
}
.another-relative {
  position: relative;
}
.account-dropdown__show {
  visibility: visible !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
}
.account-dropdown {
  background-color: white;
  color: #555;
  position: absolute;
  top: 50px;
  right: 0;
  width: 180px;
  padding: 12px;
  visibility: hidden;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
  transform: translateY(20px);
  opacity: 0;
  transition: all 250ms ease-in;
  z-index: 1;
}
.more-right {
  left: 120px;
}
.account-dropdown-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.account-dropdown-item {
  margin: 0 !important;
  padding: 4px 8px !important;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent;
}
.account-dropdown-item a {
  padding-right: 6px;
  text-decoration: none;
  color: inherit;
}
.account-dropdown-item:hover {
  background-color: #f1eded;
  color: black;
}
.account-dropdown-item a:focus {
  outline: none;
}
.mobile-header {
  margin-left: 10px;
  display: none;
}
.bar {
  border-top: 3px solid white;
  width: 23px;
  display: block;
}
.bar-margin {
  margin-top: 4px;
}
.header-sidebar {
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 2;
  background-color: #3a2778;
  transition: all 200ms linear;
  overflow-y: scroll;
}
.show-sidebar {
  transform: translateX(0);
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  display: none;
}
.show-backdrop {
  display: block;
}
.sidebar-title {
  font-size: 22px;
  padding: 20px 30px;
  color: white;
}
.sidebar-divider {
  margin: 0;
  color: white;
}
.sidebar-items {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}
.sidebar-items li {
  padding: 20px 30px;
  font-size: 22px;
}
.sidebar-category__dropdown-1,
.sidebar-category__dropdown-2 {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #6e45f1;
  border-radius: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms linear;
}
.sidebar-dropdown__show {
  max-height: 400px;
  overflow: visible;
}
.special-dropdown__item {
  border-bottom: 1px solid white;
}
.special-padding__item {
  padding: 20px 30px 0 30px !important;
}
.margin-btm__div {
  margin-bottom: 20px;
}
.userIcon {
  margin-right: 8px;
}
@media (max-width: 600px) {
  .header-wrapper {
    justify-content: left;
  }
  .link-wrapper {
    display: none;
  }
  .mobile-header {
    display: block;
  }
}
