:host {
  grid-row-start: 1;
  grid-row-end: -1;
}
.wrapper {
  background-color: #3a2778;
  background-image: url("../../../assets/header-illustration-3a4c23d829b8e7030dc9083774e0758b3728928904767e24784d840b40b98c78.png");
  background-size: 953px 210px;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: -1;
}
.second-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 50px 0;
  overflow: auto;
}
.content-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.content-header__brand a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.content-header__paragraph {
  color: white;
  font-size: 14px;
  line-height: 1.4;
  display: inline-block;
  margin: 0;
}
.content-header__button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 11px 16px;
  font-size: 13px;
  margin-left: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.title-container {
  text-align: center;
  padding: 0 30px 30px;
}
.page-title {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: 400;
  font-size: 30px;
  width: fit-content;
  margin: 0 auto;
  line-height: 1.2;
}
.form-sheet {
  display: flex;
  justify-content: space-between;
  max-width: 790px;
  margin: 0 auto;
  border: 1px solid transparent;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9fb;
  background-image: url("../../../assets/page-illustration-11400c2a5109317ad7e99571ba2a42bc55522ffa8ea6f9dcdff99737ab6149ac.png");
  background-position: top left;
  background-repeat: no-repeat;
  align-items: center;
}
.form {
  max-width: 362px;
  padding: 30px;
  border: 1px solid transparent;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(89, 105, 128, 0.1),
    0 3px 20px 0 rgba(89, 105, 128, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-input {
  appearance: none;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(121, 88, 159, 0);
  color: #383e40;
}
.form-input:focus {
  outline: none;
}
.form-label {
  padding-bottom: 5px;
  font-size: 13px;
  color: #383e40;
}
.submit-button {
  width: 100%;
  padding: 15px;
  background-color: #1969ca;
  color: white;
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: background-color 0.1s linear;
}
.submit-button:hover {
  background-color: #0650aa;
}
.submit-button:disabled {
  background-color: #7ab2f6;
  cursor: not-allowed;
}
.error-data {
  font-size: 12px;
  color: red;
  margin: 6px 0 0;
}
.terms-class {
  font-size: 12px;
  margin-bottom: 0;
  color: #383e40;
}
.benefits-container {
  max-width: 410px;
  padding: 40px;
}
.benefit-title {
  color: #79589f;
  font-size: 24px;
  line-height: 1.4;
  margin: 0 auto 15px;
  font-weight: 400;
}
.benefit-content {
  font-size: 14px;
  line-height: 1.5;
  color: #383e40;
}
hr {
  margin: 50px auto 40px;
  background-color: rgba(228, 228, 231, 0);
  height: 1px;
  border: 0;
  background-image: linear-gradient(
    to right,
    rgba(228, 228, 231, 0),
    rgba(228, 228, 231, 0.9) 10%,
    rgba(228, 228, 231, 0.9) 90%,
    rgba(228, 228, 231, 0)
  );
}
.benefit-icon {
  margin-right: 8px;
}
