<div class="footer-wrapper">
  <div class="footer-about footer-item">
    <div class="about-wrapper">
      <h4>Ecommerce</h4>
      <p>
        We are an anyone’s ultimate destination for getting this perfect kitchen
        table, cozy armchair or a beautiful and comfy king sized bed! All in
        all, whatever home furniture you’ll be looking for, look no further!
      </p>
    </div>
  </div>
  <div class="footer-description footer-item">
    <div class="description-wrapper">
      <p class="title">Why buy from us</p>
      <ul class="list">
        <li>Shipping & Delivery</li>
        <li>Secure Payment</li>
        <li>Support</li>
        <li>Guarantee</li>
        <li>Terms & Conditions</li>
      </ul>
    </div>
  </div>
  <div class="footer-contact footer-item">
    <div class="contact-wrapper">
      <p class="title">Contacts</p>
      <ul class="list">
        <li>Address: Glasgow D04 89GR</li>
        <li>Phones: 800-2345-6789; 800-2345-6789</li>
        <li>E-mail: info@demolink.org</li>
        <li>Hours: 7 days a week from 9:00 am to 7:00 pm</li>
      </ul>
      <div class="social-icon">
        <img
          src="../../../../assets/facebook-brands.svg"
          class="icon"
          alt="icon"
        />
        <img
          src="../../../../assets/twitter-brands.svg"
          class="icon"
          alt="icon"
        />
        <img
          src="../../../../assets/pinterest-brands.svg"
          class="icon"
          alt="icon"
        />
        <img
          src="../../../../assets/instagram-brands.svg"
          class="icon"
          alt="icon"
        />
      </div>
    </div>
  </div>
</div>
<div class="mobile-footer__wrapper">
  <div class="mobile-footer__text">
    We are an anyone’s ultimate destination for getting this perfect kitchen
    table, cozy armchair or a beautiful and comfy king sized bed! All in all,
    whatever home furniture you’ll be looking for, look no further!
  </div>
</div>
