.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
app-root {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 52px 1fr 278px;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
app-header {
  grid-area: header;
}
router-outlet + * {
  grid-area: main;
}
app-home-footer {
  grid-area: footer;
}
.progress-bar {
  z-index: 1000;
  position: fixed !important;
  top: 0;
  left: 0;
}
@media (max-width: 600px) {
  app-root {
    grid-template-rows: 103px 1fr 108px;
  }
}
