:host {
  background-color: white;
}
.product-page__wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}
.product-detail__wrapper {
  display: flex;
  width: max-content;
  align-items: center;
  margin: 0 auto;
  background-color: white;
}
.image-collection {
  width: 70px;
  padding: 20px 0 20px 20px;
  height: 100%;
  align-self: flex-start;
}
.all-image {
  margin-bottom: 10px;
  border: 1px solid transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.single-image {
  height: 100%;
  width: 100%;
}
.product-image {
  margin: 20px;
  position: relative;
}
.image {
  max-height: 500px;
}
.image-active {
  border: 1px solid #60467e;
  box-shadow: 0 0 6px -1px #60467e;
}
.product-detail {
  width: 300px;
  padding: 20px;
}
.product-detail__title {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  color: #111;
  text-transform: capitalize;
  margin: 0 0 20px 0;
}
.div-margin {
  margin: 8px 0;
}
.product-warranty {
  display: flex;
  align-items: center;
}
.product-warranty p {
  margin: 0 0 0 8px;
}
.product-rating {
  display: flex;
}
.star {
  font-size: 12px;
  color: #555;
}
.star-count {
  margin: 0 0 0 12px;
  font-size: 14px;
  line-height: 20px;
  color: #0066c0;
}
.star-active {
  stroke: #ff9900;
  color: #ff9900;
  content: "f005";
}
.shield-icon {
  color: #555;
}
.warranty-text {
  font-size: 12px;
  line-height: 16px;
  color: #555;
}
hr {
  background-color: transparent;
  border-top: 1px solid #e7e7e7;
  height: 1px;
  margin-bottom: 14px;
}
.original-price-container,
.current-price-container {
  display: flex;
  font-size: 14px;
  color: #555;
  line-height: 20px;
  align-items: center;
}
.original-price {
  padding-left: 8px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-decoration: line-through;
}
.current-price {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-left: 8px;
  color: #b12704;
  font-size: 18px;
  line-height: 24px;
}
.save-price {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-left: 8px;
  color: #b12704;
  font-size: 14px;
  line-height: 20px;
}
.seller {
  color: #555;
  font-size: 16px;
  text-transform: capitalize;
}
.delivery-text {
  font-weight: 600;
  color: #111;
  font-size: 14px;
  font-family: inherit;
}
.product-detail__button {
  width: max-content;
  margin: 20px auto;
  position: relative;
}
.button-icon {
  color: white;
  position: absolute;
  left: 8px;
  top: 6px;
  font-size: 16px;
}
.button {
  width: 204px;
  height: 29px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;
  background-color: #60467e;
  background-image: -webkit-linear-gradient(
    left bottom,
    rgba(159, 88, 150, 0) 0,
    rgba(159, 88, 150, 0.6) 100%
  );
  color: white;
}
.divider {
  height: 44px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
  margin-top: 18px;
}
.divider::after {
  display: block;
  width: 100%;
  height: 44px;
  background-color: transparent;
  content: "";
  background-image: linear-gradient(
    to right,
    #fff,
    rgba(255, 255, 255, 0),
    #fff
  );
}
.product-details {
  width: 90%;
  margin: 0 auto;
}
.product-details h4 {
  color: #cc6600;
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
}
.product-details p {
  font-size: 13px;
  color: #555;
}
.titles-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submit-review__wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms linear;
}
.special-wrapper {
  max-height: 300px;
  margin-bottom: 20px;
}
.show-submit__wrapper {
  max-height: 300px;
}
.top-margin__title {
  margin-top: 0;
}
.submit-review__input {
  width: 100%;
  padding: 10px 20px 10px 70px;
  border: 1px solid #555;
  border-radius: 4px;
}
.submit-title__star {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.measure-width {
  width: calc(100% - 130px);
}
.submit-review__textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px 20px 10px 120px;
  border-radius: 4px;
  margin-bottom: 12px;
}
.submit-review__input:focus,
.submit-review__textarea:focus {
  outline: none;
}
.position-relative {
  position: relative;
}
.absolute-placed {
  position: absolute;
  top: 8px;
  left: 8px;
  margin: 0;
  font-size: 14px;
  padding: 1px 8px;
  background-color: #3a1f91;
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
}
.submit-review__button {
  height: 40px;
  background-color: #60467e;
  background-image: -webkit-linear-gradient(
    left bottom,
    rgba(159, 88, 150, 0) 0,
    rgba(159, 88, 150, 0.6) 100%
  );
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 14px;
  padding: 6px 12px;
  cursor: pointer;
}
.submit-review__stars {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: flex;
  width: max-content;
}
.submit-review__stars > input {
  display: none;
}
.submit-review__stars > input + label {
  width: 20px;
  display: inline-block;
  text-indent: 9999px;
  white-space: nowrap;
  overflow: hidden;
}
.submit-review__stars > input + label::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f005";
  text-indent: -9999px;
  display: inline-block;
}
.submit-review__stars > input:checked ~ label::before,
.submit-review__stars > input + label:hover ~ label::before,
.submit-review__stars > input + label:hover::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f005";
  color: #ff9900;
  text-shadow: 0 0 1px #333;
}
.submit-review__stars:hover > input + label::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f005";
  color: inherit;
  text-shadow: none;
}
.submit-review__stars:hover > input + label:hover ~ label::before,
.submit-review__stars:hover > input + label:hover::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f005";
  color: #ff9900;
  text-shadow: 0 0 1px #333;
}
.reviews-wrapper {
  width: 90%;
  margin: 0 auto;
}
.each-review {
  margin: 10px 20px;
}
.reviews-wrapper__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
.reviewer-name {
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.user-image {
  display: block;
  background-image: url("../../../assets/default._CR0,0,1024,1024_SX48_.jpeg");
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.review-title {
  display: flex;
  align-items: center;
}
.review-stars {
  line-height: 24px;
}
.review-title p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin: 0 0 0 6px;
}
.review-time {
  color: #555;
  font-size: 14px;
  line-height: 20px;
}
.review-content {
  margin: 12px 0;
}
.review-content p {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}
.reply-warning {
  margin: 6px 0;
  color: red;
  font-size: 12px;
}
.reply-comment__button {
  border: 1px solid;
  border-color: #adb1b8 #a2a6ac #8d9096;
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 14px;
  cursor: pointer;
  background-color: #dbdce0;
}
.reply-comment__button:hover {
  background-color: #cdced7;
}
.margin-button {
  margin-bottom: 12px;
}
.reply-comment__button:focus {
  outline: none;
}
.review-reply__wrapper {
  width: 95%;
  margin-left: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 200ms linear;
}
.review-reply__textarea {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #555;
  border-radius: 4px;
}
.review-reply__textarea:focus {
  outline: none;
}
.review-reply__buttons {
  margin-top: 10px;
}
.subComments-wrapper {
  width: 95%;
  margin-left: auto;
  margin-top: 12px;
}
.product-img-lens {
  position: absolute;
  width: 180px;
  height: 140px;
  background-color: rgba(1, 0, 0, 0.2);
  visibility: hidden;
  cursor: pointer;
}
.img-zoom__view {
  width: 360px;
  height: 280px;
  border: 1px solid #555555;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  right: -370px;
  z-index: 1000;
  visibility: hidden;
}
.product-detail__mobile {
  display: none;
  padding: 20px;
}
.product-detail__title-mobile {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  color: #111;
  text-transform: capitalize;
  margin: 0 0 10px 0;
  display: none;
}
.product-img__slideshow-mobile {
  width: 100vw;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  display: none;
}
.mobile-img__slideshow-wrapper {
  display: flex;
  flex-direction: row;
  width: auto;
  position: relative;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
.each-mobile__img-wrapper {
  width: 100vw;
  padding: 20px;
  height: auto;
}
.mobile-image {
  width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  .product-detail__wrapper {
    flex-direction: column;
    width: 100%;
  }
  .image-collection {
    display: none;
  }
  .product-img__slideshow-mobile {
    display: block;
  }
  .product-img-lens {
    display: none;
  }
  .img-zoom__view {
    display: none;
  }
  .product-image {
    display: none;
  }
  .product-detail {
    width: 100%;
  }
  .product-detail__mobile {
    display: block;
  }
  .product-detail__title {
    display: none;
  }
  .product-detail__title-mobile {
    display: block;
  }
  .product-detail__button {
    width: 90%;
  }
  .button {
    width: 100%;
    height: 40px;
  }
  .button-icon {
    top: 11px;
  }
}
