<div class="product-page__wrapper" hide-searchBox>
  <div *ngIf="product">
    <div class="product-detail__wrapper">
      <div class="image-collection">
        <div
          *ngFor="let image of images"
          class="all-image"
          (click)="onSelectImage(image.path, divReference)"
          #divReference
          #allImages
          [ngClass]="{
            'image-active': image.path === product.imageUrls[0].path
          }"
        >
          <img [src]="image.path" alt="" class="single-image" #imageSources />
        </div>
      </div>
      <div class="product-detail__mobile">
        <h4 class="product-detail__title-mobile">{{ product.name }}</h4>
      </div>
      <div class="product-img__slideshow-mobile" #mobileSliderWrapper>
        <div class="mobile-img__slideshow-wrapper" #mobileSlider>
          <div
            class="each-mobile__img"
            *ngFor="let singleImage of product.imageUrls"
          >
            <div class="each-mobile__img-wrapper">
              <img
                [src]="singleImage.path"
                alt=""
                class="mobile-image"
                (load)="readySlider()"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="product-image">
        <div class="product-img-lens" #zoomLens></div>
        <img
          [src]="product.imageUrls[0].path"
          alt=""
          class="image"
          #image
          (load)="zoomImage()"
        />
        <div class="img-zoom__view" #zoomView></div>
      </div>
      <div class="product-detail">
        <h4 class="product-detail__title">{{ product.name }}</h4>
        <div class="product-rating">
          <fa-icon
            [icon]="star"
            [ngClass]="{ 'star-active': 0 < product.totalRating }"
            class="star"
          ></fa-icon>
          <fa-icon
            [icon]="star"
            [ngClass]="{ 'star-active': 1 < product.totalRating }"
            class="star"
          ></fa-icon>
          <fa-icon
            [icon]="star"
            [ngClass]="{ 'star-active': 2 < product.totalRating }"
            class="star"
          ></fa-icon>
          <fa-icon
            [icon]="star"
            [ngClass]="{ 'star-active': 3 < product.totalRating }"
            class="star"
          ></fa-icon>
          <fa-icon
            [icon]="star"
            [ngClass]="{ 'star-active': 4 < product.totalRating }"
            class="star"
          ></fa-icon>
          <p class="star-count">{{ product.ratingCount }} ratings</p>
        </div>
        <div class="product-warranty div-margin">
          <fa-icon [icon]="shield" class="shield-icon"></fa-icon>
          <p class="warranty-text">1 Year Warranty</p>
        </div>
        <hr />
        <div class="original-price-container div-margin">
          M.R.P:
          <div class="original-price">
            {{ product.originalPrice | currency: "INR" }}
          </div>
        </div>
        <div class="current-price-container div-margin">
          Price:
          <div class="current-price">
            {{ product.offerPrice | currency: "INR" }}
          </div>
        </div>
        <div class="current-price-container div-margin">
          You Save:
          <div class="save-price">
            {{ product.priceDifference | currency: "INR" }} ({{
              product.offerPercentage
            }}% off)
          </div>
        </div>
        <div class="current-price-container div-margin">
          Delivery By:
          <div class="save-price delivery-text">
            {{ product.deliveryDate | date: "mediumDate" }}
          </div>
        </div>
        <div class="current-price-container div-margin">
          Seller Name:
          <div class="save-price seller">{{ product.userId.companyName }}</div>
        </div>
        <div class="product-detail__button">
          <fa-icon [icon]="cart" class="button-icon"></fa-icon>
          <button class="button" (click)="onAddCart(product._id)">
            Add To Cart
          </button>
        </div>
        <div class="product-detail__button">
          <fa-icon [icon]="wishList" class="button-icon"></fa-icon>
          <button class="button" (click)="onAddWishList(product._id)">
            {{ alreadyWishListed ? "WishListed" : "Add To WishList" }}
          </button>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="product-details">
      <h4>Product Description</h4>
      <p>{{ product.description }}</p>
    </div>
    <div class="divider"></div>
    <div class="submit-review__wrapper" #submitWrapper>
      <h4 class="reviews-wrapper__title top-margin__title">
        {{
          product.ratingCount === 0
            ? "Be first to rate this product"
            : "Your review"
        }}
      </h4>
      <div class="submit-title__star">
        <div class="position-relative measure-width">
          <label>
            <input type="text" class="submit-review__input" #commentTitle />
          </label>
          <p class="absolute-placed">Title:</p>
        </div>
        <div class="submit-review__stars">
          <input type="radio" id="5" value="5" name="star" #reviewInput />
          <label for="5" class="each-star__label">5</label>
          <input type="radio" id="4" value="4" name="star" #reviewInput />
          <label for="4" class="each-star__label">4</label>
          <input type="radio" id="3" value="3" name="star" #reviewInput />
          <label for="3" class="each-star__label">3</label>
          <input type="radio" id="2" value="2" name="star" #reviewInput />
          <label for="2" class="each-star__label">2</label>
          <input type="radio" id="1" value="1" name="star" #reviewInput />
          <label for="1" class="each-star__label">1</label>
        </div>
      </div>
      <div class="position-relative">
        <label>
          <textarea
            rows="3"
            class="submit-review__textarea"
            #commentText
          ></textarea>
        </label>
        <p class="absolute-placed">Description:</p>
      </div>
      <p class="reply-warning" *ngIf="alreadyCommented">
        You already commented for this product
      </p>
      <p class="reply-warning" *ngIf="emptySubmit">
        Title and description field should not be empty.
      </p>
      <div class="submit-wrapper__buttons">
        <button
          type="button"
          class="reply-comment__button"
          (click)="
            onSubmitComment(
              product._id,
              commentTitle.value,
              commentText.value,
              submitWrapper
            )
          "
        >
          Submit
        </button>
        <button
          type="button"
          class="reply-comment__button"
          (click)="onCancelSubmit(submitWrapper)"
        >
          Cancel
        </button>
      </div>
    </div>
    <div class="reviews-wrapper" *ngIf="product.ratingCount > 0">
      <div class="titles-wrapper">
        <h4 class="reviews-wrapper__title">Reviews about this product</h4>
        <button
          type="button"
          class="submit-review__button"
          (click)="onRateProduct(submitWrapper)"
        >
          Rate Product
        </button>
      </div>
      <div class="each-review" *ngFor="let review of product.ratings">
        <div class="reviewer-name">
          <span class="user-image"></span>{{ review.userId.name }}
        </div>
        <div class="review-title">
          <div class="review-stars">
            <fa-icon
              [icon]="star"
              [ngClass]="{ 'star-active': 0 < review.rating }"
              class="star"
            ></fa-icon>
            <fa-icon
              [icon]="star"
              [ngClass]="{ 'star-active': 1 < review.rating }"
              class="star"
            ></fa-icon>
            <fa-icon
              [icon]="star"
              [ngClass]="{ 'star-active': 2 < review.rating }"
              class="star"
            ></fa-icon>
            <fa-icon
              [icon]="star"
              [ngClass]="{ 'star-active': 3 < review.rating }"
              class="star"
            ></fa-icon>
            <fa-icon
              [icon]="star"
              [ngClass]="{ 'star-active': 4 < review.rating }"
              class="star"
            ></fa-icon>
          </div>
          <p>
            {{ review.title }}
          </p>
        </div>
        <div class="review-time">
          Reviewed on {{ review.creation | date: "shortDate" }}
        </div>
        <div class="review-content">
          <p>{{ review.comments.message }}</p>
        </div>
        <button
          type="button"
          class="reply-comment__button margin-button"
          (click)="onComment($event)"
        >
          Comment
        </button>
        <div class="review-reply__wrapper" #addReplyContainer>
          <label>
            <textarea
              rows="3"
              class="review-reply__textarea"
              #replyValue
            ></textarea>
          </label>
          <p class="reply-warning" *ngIf="alreadyReplied">
            You already replied to this comment
          </p>
          <p class="reply-warning" *ngIf="emptyMessage">
            Comment should not be empty
          </p>
          <div class="review-reply__buttons">
            <button
              type="button"
              class="reply-comment__button"
              (click)="
                onSubmitReply(
                  product._id,
                  review._id,
                  replyValue.value,
                  addReplyContainer
                )
              "
            >
              Submit Reply
            </button>
            <button
              type="button"
              class="reply-comment__button"
              (click)="onCancel(addReplyContainer)"
            >
              Cancel
            </button>
          </div>
        </div>
        <div *ngIf="review.comments.reply.length > 0">
          <div
            class="subComments-wrapper"
            *ngFor="let reply of review.comments.reply"
          >
            <div class="reviewer-name">
              <span class="user-image"></span> {{ reply.userId.name }}
            </div>
            <div class="review-content">
              <p>{{ reply.message }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="submit-review__wrapper special-wrapper"
      #anotherSubmitWrapper
      *ngIf="product.ratingCount === 0"
    >
      <h4 class="reviews-wrapper__title top-margin__title">
        {{
          product.ratingCount === 0
            ? "Be first to rate this product"
            : "Your review"
        }}
      </h4>
      <div class="submit-title__star">
        <div class="position-relative measure-width">
          <label>
            <input type="text" class="submit-review__input" #commentTitle />
          </label>
          <p class="absolute-placed">Title:</p>
        </div>
        <div class="submit-review__stars">
          <input type="radio" id="6" value="5" name="star" #reviewInput />
          <label for="6" class="each-star__label">5</label>
          <input type="radio" id="7" value="4" name="star" #reviewInput />
          <label for="7" class="each-star__label">4</label>
          <input type="radio" id="8" value="3" name="star" #reviewInput />
          <label for="8" class="each-star__label">3</label>
          <input type="radio" id="9" value="2" name="star" #reviewInput />
          <label for="9" class="each-star__label">2</label>
          <input type="radio" id="10" value="1" name="star" #reviewInput />
          <label for="10" class="each-star__label">1</label>
        </div>
      </div>
      <div class="position-relative">
        <label>
          <textarea
            rows="3"
            class="submit-review__textarea"
            #commentText
          ></textarea>
        </label>
        <p class="absolute-placed">Description:</p>
      </div>
      <p class="reply-warning" *ngIf="alreadyCommented">
        You already commented for this product
      </p>
      <p class="reply-warning" *ngIf="emptySubmit">
        Title and description field should not be empty.
      </p>
      <div class="submit-wrapper__buttons">
        <button
          type="button"
          class="reply-comment__button"
          (click)="
            onSubmitComment(
              product._id,
              commentTitle.value,
              commentText.value,
              anotherSubmitWrapper
            )
          "
        >
          Submit
        </button>
      </div>
    </div>
    <div class="notification-wrapper" *ngIf="showNotification">
      <div class="notification">
        <fa-icon [icon]="checked" class="checked-icon"></fa-icon>
        <div class="notification-text">
          {{
            deleteItemNotification
              ? "Item deleted from wishlist"
              : "Item added to wishlist"
          }}
        </div>
      </div>
    </div>
    <!--    <app-home-footer></app-home-footer>-->
  </div>
</div>
