<div class="wrapper"></div>
<div class="spinner-portion" *ngIf="isAddingProduct">
  <div class="backdrop">
    <div class="spinner-wrapper">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      <div class="spinner-title">Adding Product ...</div>
    </div>
  </div>
</div>
<div class="second-wrapper">
  <div class="content-header">
    <div class="content-header__brand">
      <a routerLink="/">Ecommerce</a>
    </div>
    <div>
      <a class="content-header__button">Your Products</a>
    </div>
  </div>
  <div class="title-container">
    <h1 class="page-title">Add your product</h1>
  </div>
  <div class="form-sheet">
    <div class="image-container">
      <div class="image-wrapper">
        <img [src]="fileAsDataUrl" alt="Image" class="image" />
      </div>
      <div class="select-image-container" *ngIf="fileData.length > 0">
        <a
          class="image-anchor"
          *ngFor="let image of fileData"
          (click)="onSelectImage(image)"
        >
          <div class="select-image">
            <img [src]="image.data" alt="" />
          </div>
        </a>
      </div>
    </div>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name" class="form-label">Product Name</label>
        <input
          type="text"
          id="name"
          class="form-input"
          placeholder="Product name"
          formControlName="name"
        />
        <p
          *ngIf="form.get('name').invalid && form.get('name').touched"
          class="error-data"
        >
          Product name should not be empty and atleast 6 character long.
        </p>
      </div>
      <div class="form-group">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          id="price"
          class="form-input"
          placeholder="Price"
          formControlName="price"
        />
        <p
          *ngIf="form.get('price').invalid && form.get('price').touched"
          class="error-data"
        >
          Price should not be empty.
        </p>
      </div>
      <div class="form-group">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          rows="6"
          placeholder="Description"
          formControlName="description"
          class="form-input"
        ></textarea>
        <p
          *ngIf="
            form.get('description').invalid && form.get('description').touched
          "
          class="error-data"
        >
          Description should not be empty and atleast 6 character long.
        </p>
      </div>
      <label for="category" class="form-label a-label">Category</label>
      <mat-form-field class="mat-selector">
        <mat-select formControlName="category" id="category">
          <mat-option value="sofa">Sofa</mat-option>
          <mat-option value="chair">Chair</mat-option>
          <mat-option value="bed">Bed</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-image" formArrayName="imageUrl">
        <label for="image">Image</label>
        <div *ngFor="let control of controls; let i = index">
          <div class="image-div">
            <input
              type="file"
              class="form-input image-input"
              id="image"
              [formControlName]="i"
              (change)="fileChange($event, i)"
            />
            <fa-icon
              [icon]="addIcon"
              size="2x"
              class="square-icon"
              (click)="addImage()"
              *ngIf="i === controls.length - 1 && i < 5"
            ></fa-icon>
            <fa-icon
              [icon]="cancelIcon"
              size="2x"
              class="cancel-icon"
              (click)="clearControl(i)"
              *ngIf="i !== 0"
            ></fa-icon>
          </div>
          <p
            *ngIf="!individualControl(i).valid && individualControl(i).touched"
            class="error-data"
          >
            Image should not be empty and only jpg, jpeg, png or webp format.
          </p>
        </div>
      </div>
      <div class="submit-div">
        <button class="submit-button" type="submit" [disabled]="!form.valid">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
