<div class="total-wrapper" *ngIf="cartItems">
  <div class="remove-modal__wrapper" *ngIf="showModal">
    <div class="backdrop"></div>
    <div class="position-wrapper">
      <div class="remove-modal">
        <button class="close-btn" (click)="onCancel()">&#10005;</button>
        <div class="modal-title">Remove Item</div>
        <div class="modal-content">
          Are you sure you want to remove this item?
        </div>
        <div class="modal-btn">
          <button class="modal-btn__1" (click)="onCancel()">Cancel</button>
          <button class="modal-btn__2" (click)="onRemove()">Remove</button>
        </div>
      </div>
    </div>
  </div>
  <div class="empty-cart__wrapper" *ngIf="cartItems.items.length === 0">
    <div class="empty-cart__title">My Cart</div>
    <div class="empty-cart__body">
      <div class="empty-cart__content">
        <img
          src="../../../assets/d438a32e-765a-4d8b-b4a6-520b560971e8.png"
          alt=""
          class="empty-cart__img"
        />
        <h4>Your cart is empty!</h4>
        <p>Add item to it now</p>
        <button type="button" (click)="goHomePage()">Shop Now</button>
      </div>
    </div>
  </div>
  <div *ngIf="cartItems.items.length > 0">
    <div class="cart-wrapper">
      <div class="cart-items__wrapper">
        <div class="cart-items__title">
          <h4>My Cart ({{ cartItems.items.length }})</h4>
        </div>
        <div class="cart-items">
          <div class="each-cart__item" *ngFor="let item of cartItems.items">
            <div class="image-details">
              <div class="item-image__wrapper">
                <img
                  [src]="getImageUrl(item.productId.imageUrls[0].path)"
                  alt=""
                  class="item-image"
                />
              </div>
              <div class="item-details">
                <div class="cart-items__detail">
                  <h4 class="item-title">
                    {{ item.productId.name | shortText: 40 }}
                  </h4>
                  <p class="item-seller">Seller: {{ item.seller }}</p>
                  <div class="item-price">
                    <p class="item-offerPrice">
                      {{ item.productId.offerPrice | currency: "INR" }}
                    </p>
                    <p class="item-originalPrice">
                      {{ item.productId.originalPrice | currency: "INR" }}
                    </p>
                    <p class="item-discount">{{ item.offerPercentage }}% off</p>
                  </div>
                </div>
                <div class="cart-item__quantity">
                  <button
                    class="minus-btn"
                    [disabled]="item.quantity === 1"
                    (click)="onMinus(item.productId._id)"
                  >
                    -
                  </button>
                  <p class="item-quantity">{{ item.quantity }}</p>
                  <button class="plus-btn" (click)="onPlus(item.productId._id)">
                    +
                  </button>
                  <p
                    class="remove-quantity"
                    (click)="onDelete(item.productId._id)"
                  >
                    Remove
                  </p>
                </div>
              </div>
            </div>
            <div class="delivery-date__wrapper">
              <div class="delivery-date">
                Deliver by {{ item.deliveryDate | date: "mediumDate" }}
              </div>
              <div class="delivery-replacement">10 days replacement policy</div>
            </div>
          </div>
        </div>
        <div class="place-order__wrapper">
          <button class="place-order__btn" (click)="onOrder()">
            Place Order
          </button>
        </div>
      </div>
      <div class="cart-price__wrapper">
        <div class="cart-price__title">
          <h4>PRICE DETAILS</h4>
        </div>
        <div class="cart-price__body">
          <div class="cart-total__price">
            <div>Price({{ cartItems.items.length }} items)</div>
            <div class="right-price">
              {{ cartItems.totalPrice | currency: "INR" }}
            </div>
          </div>
          <div class="cart-delivery__price">
            <div class="deliver-title">Delivery Charges</div>
            <div class="deliver-price">Free</div>
          </div>
        </div>
        <div class="total-amount__wrapper">
          <div>Total Amount</div>
          <div class="right-total__price">
            {{ cartItems.totalPrice | currency: "INR" }}
          </div>
        </div>
        <div class="total-save__wrapper">
          <p>
            You will save {{ cartItems.priceSave | currency: "INR" }} on this
            order
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="notification-wrapper" *ngIf="showNotification && updatedItemData">
    <div class="notification">
      <fa-icon [icon]="checked" class="checked-icon"></fa-icon>
      <div class="notification-text">
        You've changed '{{ updatedItemData.productId.name | shortText: 40 }}'
        Quantity to '{{ updatedItemData.quantity }}'
      </div>
    </div>
  </div>
  <!--  <app-home-footer></app-home-footer>-->
</div>
